body {
  margin:0;
}
/* TOP SITE BAR */
.navbar {
  overflow: hidden;
  background-color: #333;
  position: sticky;
  top: 0;
  width: 100%;
  justify-content: space-around;
  z-index: 2;
}
.navbar h1 {
  float: left;
  display: block;
  justify-content: flex-start;
  color: #f2f2f2;
  text-align: left;
  padding: 5px 16px;
  text-decoration: none;
  font-size: 25px;
}

.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
 .navbar a:hover {
  background: #ddd;
  color: black;
}

#page-title  {
  text-align: left;
  color: lightgray;
  padding: 5px 16px;
  font-size: 25px;
  font-weight: bold;
  width: 50%
}

/* ETHEREUM PRICE CONTAINER */
body #main-container {
  background: url("ethereum-hd.png") 50% ;
  background-size: 100%;
}
.main {
  padding: 0px;
  margin-top: 0px;
  height: 600px;
  overflow: scroll;
}
.dataupdate {
  position: relative;
  left: 10px;
  font-size: 12px;
  color: white;
}
.display {
  background-color: white;
  width: 160px;
  margin-left: 30px;
  border-color: white;
  border-style: none;
  font-size: 18px;
  border-style: solid;
  margin-left: 25px;
  border-radius: 05px;
  text-align: right;
}

input[type=text] {
  border-color: white;
  border-style: none;
  font-size: 20px;
  border-style: solid;
  margin-left: 25px;
  border-radius: 05px;
  text-align: right;
  width: 165px;
  height: 33px
}
#refresh {
  align-items: center;
  margin-left: 30px;
}
/* #quote-container {
  font-size: 17px;
  padding: 15px;
  align-items: center;
  justify-content: center;
  overflow: scroll;
  z-index: 2;
} */
#home {
  /* position: sticky; */
  margin-top: 0px;
}

.exchange {
  position: relative;
  margin-top: 20px;
  float: inherit;
  margin-left: 80px;
}
.exchange p {
  /* width: 50%; */
  color: white;
  font-weight: bold;
  font-size: 15px;
}
/* ABOUT ETHER CONTAINER */
#about-ether {
  position: relative;
  padding: 20px;
}
.section-title {
  font-weight: bold;
  font-size: 1.2em;
}
/*  CONTACT CONTAINER  */

input[type=text/contact], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  box-sizing: border-box;
  border-radius: 9px;
  height: 30px;
}
input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
  border-radius: 40px;
  width: 50%;
}
textarea[name=subject] {
    width: 170px;
}
input[type=submit]:hover {
  background-color: #45a049;
}
.contact-container {
  border-radius: 5px;
  background-color: white;
  padding: 20px;
  background: lightgray;
}
.contact-column {
  float: left;
  width: 50%;
  margin-top: 6px;
  padding: 20px;
}
#contact-container {
  box-sizing: border-box;
}
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
#ether-img {
  display: flex;
}
